---
---

//
// IMPORTS
//

//@import "_reset";
@import "_variables";
@import "_all";
@import "_stroke";
@import "_website_template";
@import "_api.css";


.post { 
	
  color: rgb(85,85, 85);
  font-family: $helvetica;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.25em;
  
  
  h1 {
  	  color: rgb(85,85, 85);
  }
  
  p {
  	text-align: justify;
  }
  
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  } 
}

.site-subsitle {
	vertical-align: middle;
	color: #fff;
}

.recent-posts {
	padding-top: 5px;
}

@import "_highlights";

