---
---

//
// IMPORTS
//

//@import "_reset";
@import "_variables";
@import "_all";
@import "_stroke";
@import "_website_template";
@import "_api";


.post { 
	
  color: rgb(85,85, 85);
  font-family: $roboto;
  font-weight: 300;
  line-height: 1.8em;
  font-size: 1.1em;
  
  
  h1 {
  	  color: $darkGray;
      font-family: $robotoSlab;
      font-weight: normal;
  }
  
  p {
  	text-align: justify;
    margin: 0 0 20px
  }
  
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  } 

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }
}

.site-subsitle {
	vertical-align: middle;
	color: #fff;
}

.recent-posts {
	padding-top: 5px;
}

@import "_highlights";

