h1, h1 > a {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 38.5px;
}
.map-contributors {
    position: absolute;
    width: 1280px;
    margin-left: -640px;
    left: 50%;
    bottom: 0;
}
.map-contributors a {
    background-color: #dcdcdc;
    padding: 5px 10px;
}
#container table, th, td {
   border: 1px solid #dfe0e2;
   padding: 10px;
}
.promo-video .title {
    margin: 60px 0 40px;
}

/* Sticky guide */
.doc-content {
    margin-left: 200px;
    padding-left: 35px;
}
.doc-nav {
    border-right: 1px solid #DFE0E2;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 80px;
    width: 200px;
}
.doc-nav.stick {
    position: fixed;
    top: 0;
}
/* /Sticky guide */

/* Left side guide */
.doc-nav ul {
    list-style-type: none;
}
.doc-nav li {
    padding: 3px 14px;
}
.doc-nav li a {
    /*color: #000000;*/
    color: #555;
}
.doc-nav li:first-child a {
    color: #9399a6;
}
.doc-nav li.flag {
    background-color: #0488da;
}
.doc-nav li.flag a {
    color: #ffffff;
}
/* /Left side guide */
.advert-sidebar {
    margin-top: 20px;
    border: 1px solid #e2e2e2;
    padding: 15px;
}

