
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #bbb;
$lighterGray: #eee;
$white: #fff;

// Font stacks
$roboto: "Roboto", Arial, sans-serif;
$robotoSlab: "Roboto Slab", serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}